USE [master]
GO
/****** Object:  Database [PARCIAL_2]    Script Date: 22/11/2022 18:38:59 ******/
CREATE DATABASE [PARCIAL_2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PARCIAL_2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\PARCIAL_2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PARCIAL_2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\PARCIAL_2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PARCIAL_2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PARCIAL_2]
GO
/****** Object:  Table [dbo].[MATERIA]    Script Date: 22/11/2022 18:39:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MATERIA](
	[NOMBRE] [varchar](100) NOT NULL,
	[CUATRIMESTRE] [int] NOT NULL,
	[CORRELATIVA] [varchar](100) NULL,
 CONSTRAINT [PK_MATERIA] PRIMARY KEY CLUSTERED 
(
	[NOMBRE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MATERIAS_DEL_ALUMNO]    Script Date: 22/11/2022 18:39:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MATERIAS_DEL_ALUMNO](
	[DNI] [int] NOT NULL,
	[NOMBRE_MATERIA] [varchar](100) NOT NULL,
	[NOTA_PRIMER_PARCIAL] [int] NOT NULL,
	[NOTA_SEGUNDO_PARCIAL] [int] NOT NULL,
	[ESTADO_MATERIA] [int] NOT NULL,
	[ESTA_CURSANDO] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MATERIAS_DEL_PROFESOR]    Script Date: 22/11/2022 18:39:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MATERIAS_DEL_PROFESOR](
	[DNI] [int] NOT NULL,
	[NOMBRE_MATERIA] [varchar](100) NULL,
	[TOMAR_PRIMER_PARCIAL] [bit] NOT NULL,
	[TOMAR_SEGUNDO_PARCIAL] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPO_USUARIO]    Script Date: 22/11/2022 18:39:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO_USUARIO](
	[ID_TIPO] [int] NOT NULL,
	[NOMBRE_TIPO] [varchar](100) NOT NULL,
 CONSTRAINT [PK_TIPO_USUARIO] PRIMARY KEY CLUSTERED 
(
	[ID_TIPO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 22/11/2022 18:39:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[DNI] [int] NOT NULL,
	[NOMBRE] [varchar](100) NOT NULL,
	[APELLIDO] [varchar](100) NOT NULL,
	[CONTRASEÑA] [varchar](100) NOT NULL,
	[ID_TIPO] [int] NOT NULL,
 CONSTRAINT [PK_USUARIO] PRIMARY KEY CLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[MATERIA] ([NOMBRE], [CUATRIMESTRE], [CORRELATIVA]) VALUES (N'Ingles', 0, NULL)
INSERT [dbo].[MATERIA] ([NOMBRE], [CUATRIMESTRE], [CORRELATIVA]) VALUES (N'Ingles II', 0, N'Ingles')
INSERT [dbo].[MATERIA] ([NOMBRE], [CUATRIMESTRE], [CORRELATIVA]) VALUES (N'Laboratorio', 0, NULL)
GO
INSERT [dbo].[MATERIAS_DEL_ALUMNO] ([DNI], [NOMBRE_MATERIA], [NOTA_PRIMER_PARCIAL], [NOTA_SEGUNDO_PARCIAL], [ESTADO_MATERIA], [ESTA_CURSANDO]) VALUES (42598324, N'Programacion', 10, 9, 1, 0)
INSERT [dbo].[MATERIAS_DEL_ALUMNO] ([DNI], [NOMBRE_MATERIA], [NOTA_PRIMER_PARCIAL], [NOTA_SEGUNDO_PARCIAL], [ESTADO_MATERIA], [ESTA_CURSANDO]) VALUES (42598322, N'Ingles', 10, 10, 1, 0)
INSERT [dbo].[MATERIAS_DEL_ALUMNO] ([DNI], [NOMBRE_MATERIA], [NOTA_PRIMER_PARCIAL], [NOTA_SEGUNDO_PARCIAL], [ESTADO_MATERIA], [ESTA_CURSANDO]) VALUES (42598322, N'Matematica', 10, 10, 1, 0)
GO
INSERT [dbo].[MATERIAS_DEL_PROFESOR] ([DNI], [NOMBRE_MATERIA], [TOMAR_PRIMER_PARCIAL], [TOMAR_SEGUNDO_PARCIAL]) VALUES (42555555, N'Matematica', 1, 1)
INSERT [dbo].[MATERIAS_DEL_PROFESOR] ([DNI], [NOMBRE_MATERIA], [TOMAR_PRIMER_PARCIAL], [TOMAR_SEGUNDO_PARCIAL]) VALUES (42555555, N'Programacion', 1, 1)
INSERT [dbo].[MATERIAS_DEL_PROFESOR] ([DNI], [NOMBRE_MATERIA], [TOMAR_PRIMER_PARCIAL], [TOMAR_SEGUNDO_PARCIAL]) VALUES (42123456, N'Matematica', 0, 0)
GO
INSERT [dbo].[TIPO_USUARIO] ([ID_TIPO], [NOMBRE_TIPO]) VALUES (0, N'Administrador')
INSERT [dbo].[TIPO_USUARIO] ([ID_TIPO], [NOMBRE_TIPO]) VALUES (1, N'Profesor')
INSERT [dbo].[TIPO_USUARIO] ([ID_TIPO], [NOMBRE_TIPO]) VALUES (2, N'Alumno')
GO
INSERT [dbo].[USUARIO] ([DNI], [NOMBRE], [APELLIDO], [CONTRASEÑA], [ID_TIPO]) VALUES (42123456, N'Profesor', N'Capo', N'12345678', 1)
INSERT [dbo].[USUARIO] ([DNI], [NOMBRE], [APELLIDO], [CONTRASEÑA], [ID_TIPO]) VALUES (42555555, N'Pedro', N'Regado', N'12345678', 1)
INSERT [dbo].[USUARIO] ([DNI], [NOMBRE], [APELLIDO], [CONTRASEÑA], [ID_TIPO]) VALUES (42598320, N'Carlos', N'Rodríguez', N'12345678', 0)
GO
ALTER TABLE [dbo].[MATERIAS_DEL_ALUMNO]  WITH CHECK ADD  CONSTRAINT [FK_MATERIAS_DEL_ALUMNO_MATERIA] FOREIGN KEY([NOMBRE_MATERIA])
REFERENCES [dbo].[MATERIA] ([NOMBRE])
GO
ALTER TABLE [dbo].[MATERIAS_DEL_ALUMNO] CHECK CONSTRAINT [FK_MATERIAS_DEL_ALUMNO_MATERIA]
GO
ALTER TABLE [dbo].[MATERIAS_DEL_ALUMNO]  WITH CHECK ADD  CONSTRAINT [FK_MATERIAS_DEL_ALUMNO_USUARIO] FOREIGN KEY([DNI])
REFERENCES [dbo].[USUARIO] ([DNI])
GO
ALTER TABLE [dbo].[MATERIAS_DEL_ALUMNO] CHECK CONSTRAINT [FK_MATERIAS_DEL_ALUMNO_USUARIO]
GO
ALTER TABLE [dbo].[MATERIAS_DEL_PROFESOR]  WITH CHECK ADD  CONSTRAINT [FK_MATERIAS_DEL_PROFESOR_MATERIA] FOREIGN KEY([NOMBRE_MATERIA])
REFERENCES [dbo].[MATERIA] ([NOMBRE])
GO
ALTER TABLE [dbo].[MATERIAS_DEL_PROFESOR] CHECK CONSTRAINT [FK_MATERIAS_DEL_PROFESOR_MATERIA]
GO
ALTER TABLE [dbo].[MATERIAS_DEL_PROFESOR]  WITH CHECK ADD  CONSTRAINT [FK_MATERIAS_DEL_PROFESOR_USUARIO] FOREIGN KEY([DNI])
REFERENCES [dbo].[USUARIO] ([DNI])
GO
ALTER TABLE [dbo].[MATERIAS_DEL_PROFESOR] CHECK CONSTRAINT [FK_MATERIAS_DEL_PROFESOR_USUARIO]
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD  CONSTRAINT [FK_USUARIO_TIPO_USUARIO] FOREIGN KEY([ID_TIPO])
REFERENCES [dbo].[TIPO_USUARIO] ([ID_TIPO])
GO
ALTER TABLE [dbo].[USUARIO] CHECK CONSTRAINT [FK_USUARIO_TIPO_USUARIO]
GO
USE [master]
GO
